* {
  box-sizing: border-box;
}
body {
  font-family: HSESans;
}
#interactiveMap {
  width: auto;
  height: 100%;
}
.map-marker {
  --markerWidth: 3rem;
  padding: 0.5rem;
  border-radius: 1rem;
  width: var(--markerWidth);
  min-height: 1rem;
  border: 0.125rem solid black;
  background-color: #0F2D69;
  color: white;
  position: absolute;
  left: calc(var(--markerWidth) / -2);
  bottom: 0;
}
@font-face {
  font-family: "HSESans";
  src: url("HSESans-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "HSESans";
  src: url("HSESans-Bold.otf");
  font-weight: bold;
}
